In [ ]:
import numpy as np

In [11]:
import pandas as pd
s = pd.Series(list('abcdefgh'))
print(s)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
dtype: object

In [26]:
np_states = np.array(['Ondo', 'Osun', 'Lagos', 'Kaduna', 'Katsina', 'Jigawa', 'Adamawa'])
b = pd.Series(np_states)
print(b)

0       Ondo
1       Osun
2      Lagos
3     Kaduna
4    Katsina
5     Jigawa
6    Adamawa
dtype: object

In [27]:
np_speed = np.array([0.6, 1.2, 1.8, 2.4, 3.6, 4.2, 4.8, 5.4])
yup = pd.Series(np_speed)
print(yup)

0    0.6
1    1.2
2    1.8
3    2.4
4    3.6
5    4.2
6    4.8
7    5.4
dtype: float64

In [23]:
np_weekly_hours = np.array([22, 33, 37, 47, 78, 90])
b = pd.Series(np_weekly_hours)
print(b)

0    22
1    33
2    37
3    47
4    78
5    90
dtype: int32

In [15]:
customer_order1 = pd.Series([4, 9, 8, 70, 10],index = ['apples', 'bananas', 'kiwi', 'tomatoes', 'blueberries'])
customer_order2 = pd.Series([21, 32, 43, 8, 17],index = ['apples', 'bananas', 'kiwi', 'pomegranates', 'blueberries'])
total_customer_order = customer_order1 + customer_order2
df_total_customer_order = pd.DataFrame({'customer order1':customer_order1, 'customer order2':customer_order2})
print(df_total_customer_order)

              customer order1  customer order2
apples                    4.0             21.0
bananas                   9.0             32.0
blueberries              10.0             17.0
kiwi                      8.0             43.0
pomegranates              NaN              8.0
tomatoes                 70.0              NaN

In [16]:
print(total_customer_order)

apples          25.0
bananas         41.0
blueberries     27.0
kiwi            51.0
pomegranates     NaN
tomatoes         NaN
dtype: float64

In [6]:
import pandas as pd
customer_data = {'Name':['Ade','Dammy', 'Wami', 'Bola'], 'Age':[34, 37, 12, 28], 'Size':['Large', 'Small', 'Medium', 'Small']}
df_customer_data = pd.DataFrame(customer_data)
print(df_customer_data)

    Name  Age    Size
0    Ade   34   Large
1  Dammy   37   Small
2   Wami   12  Medium
3   Bola   28   Small

In [29]:
import numpy as np
import pandas as pd
np_array = np.array([1990, 1991, 1992, 1993, 1994])
dict_ndarray = {'year':np_array}
df_dict_ndarray = pd.DataFrame(df_dict_ndarray)
print(df_dict_ndarray)

   year
0  1990
1  1991
2  1992
3  1993
4  1994

In [13]:
import numpy as np
import pandas as pd
customer_order1 = pd.Series([4, 9, 8, 70, 10],index = ['apples', 'bananas', 'kiwi', 'tomatoes', 'blueberries'])
customer_order2 = pd.Series([21, 32, 43, 8, 17],index = ['apples', 'bananas', 'kiwi', 'pomegranates', 'blueberries'])
total_customer_order = customer_order1 + customer_order2
df_total_customer_order = pd.DataFrame({'customer order1':customer_order1, 'customer order2':customer_order2})
print(df_total_customer_order)
df_from_df = pd.DataFrame(df_total_customer_order)
print(df_from_df)

              customer order1  customer order2
apples                    4.0             21.0
bananas                   9.0             32.0
blueberries              10.0             17.0
kiwi                      8.0             43.0
pomegranates              NaN              8.0
tomatoes                 70.0              NaN
              customer order1  customer order2
apples                    4.0             21.0
bananas                   9.0             32.0
blueberries              10.0             17.0
kiwi                      8.0             43.0
pomegranates              NaN              8.0
tomatoes                 70.0              NaN

In [ ]:
import numpy as np
import pandas as pd

In [14]:
df_total_customer_order.describe

<bound method NDFrame.describe of               customer order1  customer order2
apples                    4.0             21.0
bananas                   9.0             32.0
blueberries              10.0             17.0
kiwi                      8.0             43.0
pomegranates              NaN              8.0
tomatoes                 70.0              NaN>

In [16]:
df_total_customer_order.index[0:3]

Index(['apples', 'bananas', 'blueberries'], dtype='object')

In [17]:
df_total_customer_order.head(3)

             customer order1  customer order2
apples                   4.0             21.0
bananas                  9.0             32.0
blueberries             10.0             17.0

In [18]:
df_total_customer_order.tail(2)

              customer order1  customer order2
pomegranates              NaN              8.0
tomatoes                 70.0              NaN

In [32]:
df_total_customer_order[df_total_customer_order['customer order1']>9.0]

             customer order1  customer order2
blueberries             10.0             17.0
tomatoes                70.0              NaN